body{

  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 120px;
  margin-right: 120px;
  color: black;
  background-color: white;
  font-family: "raleway" ;
  word-wrap: break-word;
}

/* Titre et police */

h2{

	font-family: "raleway";
	color: black;
 	font-size: 19px;
  font-weight: bold;
}

h3{

  font-family: "raleway";
  color: black;
  font-size: 17px;
  font-weight: bold;
  text-indent: 15px;
  padding: 5px;
  
}

p{
  font-size: 15px;
}


.list {
  list-style: none;
  float:left;
  margin: auto;
}


/* Page principale */


/*Disposition */

.page{

  margin: 5px;
  
}

/* .main{

  display: flex; 
  flex-wrap: wrap;
  padding: 20px;
} */

.container{
  max-width: 1300px;
  margin: auto;

}

section{
  display: flex;
}

.conteneur
{
    display: flex;
    flex-wrap: wrap; /* Retour à la ligne */
    justify-content: space-around;
    padding: 2px;
    margin: 10px;
}

/* .sec1{
	padding: 2px;
	margin: 10px;
	display: inline-block;

} */


.herbergement {

  padding: 40px;
  margin-bottom: 20px;
  float: left;
  text-align: justify;
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;

}


.populaire{

  float: left;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;

}
.poputitre{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.5em;
}

.activite{
 
  flex-wrap: wrap; /* Retour à la ligne */
  justify-content: space-around;
 	margin-top: 10px;
  padding: 40px;
/*  	padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px; */
  border-radius: 10px 10px 10px 10px ;
  background-color: lightpink; 
 

}

.actigrid{

  display: flex;
  flex-wrap: wrap;
 /* justify-content: space-around; */
 align-content: center;
  /* justify-content: space-between; */
  /* height: 550px; */

}

.actigrdbloc{

  /* align-content: center; */
  align-items: start;
  justify-content: space-between;
  display: inline-grid;
  /* margin-top: auto;
    margin-bottom: auto ; */
}

.contouract:nth-child(2) /* On prend le deuxième bloc élément */
{
  
    align-self: flex-end; /* Seul ce bloc sera aligné à la fin */
}

/* ... */


.basdepage{

  padding: 30px; 
  margin-top: 10px;
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.basdepage div{

    padding: 10px;
    
    width: 30%;
    height: auto;
}



details {
    display: flex;
}

details .conteneur{
    justify-content: space-around;
    float: left;
    
}

/* Barre de recherche*/



.search {
  display: flex;
}

.searchButton {

  padding: 7px;
  border: 2px solid #0052ce;
  background: #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;

}
.searchTerm {
  
  border: 2px solid #F2F2F2;
  padding: 7px;
  outline-color: #32a1ce;
  color: #9DBFAF;
}

form span i{ /* icone map */
  color: black;
  background-color: #F2F2F2;
  padding: 10px;
  padding-bottom: 11px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #F2F2F2;

}

.icon-background {
    color: white;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    
}

.fa-info {
  color:blue;
}

.searchposition {

  padding: 5px;
  border: 2px solid #F2F2F2;
  background: white;
  text-align: center;
  color: black;
  border-radius: 10px 2px 2px 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Menu*/

header ul {

        float: right;
}

#navigation li {
  display: inline;
  padding: 25px;
  align-items: flex-end;
  color: black;
}

#navigation li a{
  
  color: black;
}

#navigation li :hover{

  color: #005fcc; 
  border-top:2px solid #005fcc;
  padding-top:20px;
  font-weight: bold;
}



/* Filtre*/

.filtrebouton {

  margin: 20px;
  border: 10px;
  outline: none;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  font-size: 15px;
  color :  black;
  border-radius: 30px 30px 30px 30px;
  padding-left:  0px;
  padding-right: 20px;

}

.filtrebouton:hover{

  background-color: #005fcc;
  opacity: .7;
  font-weight: bold;
}

button i {
    background-color: #e6e6e6;
    color: #005fcc;
    border-radius: 50%;
    padding: 20px;
}


div p{
  margin: auto;
}

/* The Images */
.imag {
	display: block;
  width: 220px ;
  height: 120px;
  border-radius: 10px 10px 0px 0px ;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.imagpopu {
  display: block;
  width: 250px ;
  height: 120px;
  border-radius: 10px 0px 0px 10px ;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.imagactigrd {

  display: flex;
  width: 250px ;
  height: 400px;
  border-radius: 20px 20px 0px 0px ;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
  /* margin-bottom: 20px; */
}

.imagacti2 {

  
  width: 250px ;
  height: 120px;
  border-radius: 20px 20px 0px 0px ;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}
.imagacti3 {

  
  width: 250px ;
  height: 150px;
  border-radius: 20px 20px 0px 0px ;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}


.imag:hover, .imagacti:hover, .imagpopu:hover {

  opacity: .7;
}
.contour:hover, .popu:hover,.contouract:hover{
 
  transform: scale(1.1); 
  cursor: pointer;
}
.contour{

	
  padding: .5rem;
  justify-content: space-around;
  font-size: 1.2rem;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px ;
  color: rgb(27, 27, 27);
  box-shadow: 5px 10px 18px #aaa; 

}

.contouract{

  /* text-indent: 5px; */
  /* padding-bottom: 2.5rem; */
  background-color: #FFFFFF;
  border-radius: 20px 20px 20px 20px ;
  box-shadow: 5px 10px 18px #aaa;
  color: black;
  font-size: 14px;
  text-align: left; 
  margin: 20px;

}

.popu {
  
  margin: 5px;
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  display: flex; /* met le texte a droite */
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px ;
  box-shadow: 5px 10px 18px #aaa; 
}


/* Etoiles evaluation */

.checked {
    color: #005fcc;
}

div span {
    color: rgb(202, 202, 202);
}