@font-face {
  font-family: raleway;
  src: url(Raleway-VariableFont_wght.ttf),
  url(Raleway-Italic-VariableFont_wght.ttf),
  url(static/Raleway-Bold.ttf);  
  
  
}

html {
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  font-family: "raleway";
}
/* Titre et police */

h2{

  font-family: "raleway";
  color: black;
  font-size: 17px;
  font-weight: bold;
  overflow-wrap: anywhere;
 
}
.contour h2{
  margin-bottom: 2px;
}

/* .popu h2{
  margin-left: 20px; 
  text-align: left;
} */
h3{

  font-family: "raleway";
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-indent: 10px;
  padding: 5px;
  
}

p{
  font-size: 12px;
  font-weight: normal;
}

div p{
  margin: auto;
}

.info{
  margin: 10px;
  padding-bottom:10px;
}

div span {
    color: rgb(202, 202, 202);
}

p em{
  padding-left: 10px;
  font-weight: 100;
}

#filtre span{
  font-weight: bold;
  padding-top: 20px;
  margin-left: 10px;
  padding-left: 10px;
  color: black;
}

.list {
  list-style: none;
  float:left;
  margin: auto;
}

@media (max-width:991px){
  .list {
    padding-bottom: 10px;
    }
}



/* Page principale */


/*Disposition */

.page{

  padding: 5px;
  
}


/* .main{
  
}
 */

.container{
  
  flex-wrap: wrap;
  align-items: flex-start;

}


aside{
  float:left;

}
section{
  display: flex;
  flex-direction: column;
  margin: 5px 0 25px 0;

}

header,section, .basdepage{
  margin: auto;
  max-width: 1400px; 
}


.conteneur
{
    display: flex;
    flex-wrap: wrap; /* Retour à la ligne */
    justify-content: space-evenly;
}


.flex-container {
   display: inline-flex;
  flex-wrap: wrap;


}

.hebergement {

  padding: 20px;
  width: 70%
  /* margin-right: 3%; */

}
.hebergement > div {

  background-color: #f1f1f1;
  border-radius: 10px ;
  padding: 2em 1em;

}

* { /* tous les elements */
  box-sizing: border-box;
}
.populaire{

  padding: 20px;
  width: 30%;
  height: min-content;

}

.populaire > div{

  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px 0;

}

.poputitre{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.5em;
    align-items: center
}

.activite{

  flex-wrap: wrap; /* Retour à la ligne */
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px ;

}

.actigrid{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;

}

.actigrdbloc{

  /* align-content: center; */
  align-items: start;
  justify-content: space-between;
  display: inline-grid;
  /* margin-top: auto;
    margin-bottom: auto ; */
}



 footer{
  
  background-color: #F2F2F2;
} 

.basdepage{

  padding: 30px; 
  margin-top: 10px;
  border-radius: 10px ;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-around;

}


.basdepage div{

    padding: 10px;
    width: 30%;
    height: auto;
}
.poputitre, .aligntitle{
    margin:0 20px;
  } 
/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 991px) {
  .hebergement, .activite, .actigrid, footer{
    flex: 100%;
    margin-right: 0%;
    justify-content: center;
  }
  .hebergement > div{
   
    background-color: #FFFFFF;
  }
  
  .populaire{
    flex: 100%;
    margin-top: 10px;
    margin-right: 0%;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 0% ;
  }

  .conteneur {
    margin: 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .flex-container {
   justify-content: center;
   flex-flow: wrap-reverse;

  }
  .basdepage{
   flex-direction: column;
   align-items: center;
   border-radius: 0% ;
  }
  .basdepage div{
    width: 100%; 
  }
  section{
    margin: auto;
  }

  .poputitre, .aligntitle{
    margin-left: 20px;
    margin-right: 20px;
  } 

}


@media screen and(min-width: 768px),(max-width: 991px){ /* tablette */
  .conteneur{
    flex-direction: row;
    justify-content: space-around;
  }

  .activite{
    justify-content: space-around;

  }

}



/* Barre de recherche*/



.search {
  display: flex;
  margin-left: 10px;
}
.search span{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}

#rechercher-mobile,.herbegerments-mobile{
    display: none;
  }

#rechercher-desktop {

  padding: 7px;
  border: 2px solid #0052ce;
  background: #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;

  }

.searchTerm {
  
  border: 1px solid #F2F2F2;
  background-color: white;
  padding: 7px;
  outline-color: #32a1ce;
  color: black;
  font-weight: bold;
}


.fa-map-marker-alt{
  color: black;
  background-color: #F2F2F2;
  padding: 12px; 
  border-radius: 10px 0 0 10px;
  border: 2px solid #F2F2F2;

}


.circle-icon {
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 1px;
  border: 2px solid #F2F2F2;
  margin-left: 10px;
}

.fa-info {
  color:#005fcc;
}

.searchposition {

  padding: 5px;
  border: 2px solid #F2F2F2;
  background: white;
  text-align: center;
  color: black;
  border-radius: 10px 2px 2px 10px;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 991px) {
   #rechercher-desktop,.herbegerments-desktop{
    display: none!important;
    
  }
  #rechercher-mobile{
    display: inline-block;
    background-color:#0065fc;
    border-radius: 10px;
  }
  .herbegerments-mobile{
    display: inline;
  }
  .searchTerm {
  
    border-right:none ;
  }
}

/* Menu et naviagation*/

/* header{
  position: fixed;
  background-color: white;
} */


header ul {

   float: right;
}

.navigations{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    top: 0%;
    position: fixed;
    padding:0 10px;
    width: 100%;
    max-width: 1400px;
    z-index: 1;
}

#information {
    margin-top: 80px;
}

#mainhebergements,#activites{ /* emplacement de l'ancre malgré le menu */
    margin-top:-80px;
    padding-top:80px;

  }
@media (max-width: 991px) {

  .inscription-desktop{
    display: none!important;
    
  }
  .mobile-wrap{
    display: block;
    width: 50%;
    text-align: end;
  }
  .logo-wrap, .mobile-wrap{
    width: 50%;
    padding: 10px;
    }

  .nav {
    padding: 0px;
    display: flex;
    margin: 0px;
  }
  .divnav,.wrap-navigation{
    width: 50%;
  }
  header{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
  } 
  #hebergements,#activites{ /* emplacement de l'ancre malgré le menu */
    margin-top:-180px;
    padding-top:180px;

  }
  .navigations{
    padding: 0px;
  }
  #navigation li, #navigation-mobile li{
    border-bottom: 2px solid #F2F2F2;
  }
  #navigation li:hover,#navigation-mobile li:hover{ 
 
  border-bottom:2px solid #005fcc;
  padding-bottom:20px;
  }

  header ul {
    float: none;
  }
  #navigation li {
  flex-basis: calc(50% - 20px);
  text-align: center;
  }
  #navigation-mobile li {  /* gnou */
    
    flex: 1;
    display: inline;
    padding: 25px;
    align-items: flex-end;
    color: black;
}
  #information{
    margin-top: 180px;
  }
}

@media (min-width: 992px) {
  .inscription-desktop{
    display: inline-block;
  }
  .mobile-wrap{
    display: none;
    
  }


  #navigation li:hover a{

  color: #005fcc; 
  border-top:2px solid #005fcc;
  padding-top:20px;
  font-weight: bold;
  }

}

#navigation li {  /* gnou */
    
    flex: 1;
    display: inline;
    padding: 25px;
    align-items: flex-end;
    color: black;
}

#navigation li a{
  
  color: black;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}



a[href*="inscription"]{
  color: #005fcc!important; 
  font-weight: bold;
}
a[href*="inscription"]:link{
  text-decoration: none;
}

/* Filtre*/

#filtre{
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
}
  

.filtrebouton {

  margin: 20px;
  border: 10px;
  outline: none;
  background-color: white;
  border: 2px solid lightgrey;
  cursor: pointer;
  font-size: 15px;
  color :  black;
  border-radius: 30px;
  padding-left:  0px;
  padding-right: 20px;

}

.filtrebouton:hover{

  background-color: #005fcc;
  color: white;
  opacity: .7;
  font-weight: bold;
}

#filtre button i {
    background-color: #deebff;
    color: #005fcc;
    border-radius: 50%;
    padding: 20px;

}



.filtrebouton strong{
   padding-left: 10px;
   padding-right: 10px;
}

@media (max-width: 991px) {
  #filtre{
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .filtrebouton {
    margin: 10px;
  }
 #rechercher-mobile {
    background-color: #0065fc;
    border-color: #0065fc;
    color: white;
    border-radius: 30%;
    padding: 12px;

  } 
 #navigation-mobile li a {
    color: black;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

#navigation-mobile li {
    flex: 1;
    display: inline;
    padding: 25px;
    color: black;
    text-align: center;
}
  .fa-search:before {
    content: "\f002";
    color: white;
  }
}


/* The Images */

.reservia{
  width: 40%;
}

.picture{
  width: 100% ;
  height: 120px;
  background-size: cover!important;
  border-radius: 10px 10px 0px 0px ;
  transition: opacity 0.25s ease-in-out;
}


.popu .picture{
  width: 40% ;
  height: 100%; 
  background-size: cover!important;
  border-radius: 10px 0px 0px 10px ;
  transition: opacity 0.25s ease-in-out;
}


.imagactigrd {

  display: flex;
  background-size: cover!important;
  width: 250px ;
  height: 400px;
  border-radius: 20px 20px 0px 0px ;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
  /* margin-bottom: 20px; */
}

.imagacti2 {

  background-size: cover!important;
  width: 250px ;
  height: 160px;
  border-radius: 20px 20px 0px 0px ;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}
.imagacti3 {

  background-size: cover!important;
  width: 250px ;
  height: 120px;
  border-radius: 20px 20px 0px 0px ;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}


@media only screen  and (min-width : 910px) and (max-width : 1199px)    { /* laptop */
  .imagactigrd{
    width: 500px;
  }
}

@media (max-width: 991px) {
  .picture{
    width: 100%;
  }
  .popu .picture {
  width: 40% ;
  height: 150px;
  }
}


@media (max-width: 675px 619) { /* plus petit que tablette */
 .popu .picture {
  width: 100% ;
  height: 120px;
  border-radius: 10px 10px 0px 0px ;
  }

.imagacti2 {
  
  height: 160px;
  }
.imagacti3 {
  
  height: 160px;
  }
}

@media (max-width:619px ) { /* mobile */
  .imagactigrd {

    height: 160px;
    width: 100%;
  }
  .imagacti2 {
    
    height: 160px;
    width: 100%;
    }
  .imagacti3 {

    height: 160px;
    width: 100%;
  }
  .actigrdbloc {
    width: 100%;
    justify-content: normal;
  }
}

.imag:hover, .imagacti:hover, .imagpopu:hover {

  opacity: .7;
}

/* Contour */
.contour:hover, .popu:hover,.contouract:hover{
 
  transform: scale(1.1); 
  cursor: pointer;
}
.contour{

  width: 30%;
  padding: .5rem;
  margin: 12px;
  justify-content: space-around;
  font-size: 1.2rem;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 10px ;
  color: rgb(27, 27, 27);
  box-shadow: 5px 10px 18px #aaa; 

}

.contouract{

  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #aaa;
  color: black;
  font-size: 14px;
  text-align: left; 
  margin: 20px;

}

.contouract:nth-child(2) /* On prend le deuxième bloc élément */
{
  
    align-self: flex-end; /* Seul ce bloc sera aligné à la fin */
}

.popu {
  
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
  margin: 15px;
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 10px ;
  color: rgb(27, 27, 27);
  box-shadow: 5px 10px 18px #aaa;
}

.popu figcaption {
    width: 50%;
    margin-left: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width:1131px ) {
  .contour {
    width: 45%;
  }
}

@media (max-width: 991px) {
  .popu {
    display: flex;
    text-align: left;
  }
  .contour{
    margin-bottom: 10px;
    width: 100%;
  }
  .popu figcaption {
    width: 54%;
  }
}

@media  (min-width: 768px) and (max-width: 991px){ /* tablette */
 .popu {
    width: 45%;
  }
  .contour {
    width: 45%;
  }
}


/* Etoiles evaluation */

.checked {
    color: #0065fc;
}



