body{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 120px;
  margin-right: 120px;
  color: black;
  background-color: white;
  font-family: "raleway" ;
  word-wrap: break-word;
}

/* Titre et police */

h2{
	font-family: "raleway";
	color: black;
 	font-size: 19px;
}


.list {
  list-style: none;
  float:left;
  margin: auto;
}


/* Page principale */


/*Disposition */

.page{

  margin: 5px;
  

}

#conteneur
{
    display: flex;
    flex-wrap: wrap; /* Retour à la ligne */
    justify-content: space-around;
    justify-content: left;
    padding: 2px;
}

.sec1{
	padding: 2px;
	margin: 10px;
	display: inline-block;

}
.herbergement {

  padding: 10px;
  float: left;
  text-align: justify;
  /*  margin: auto; On peut donc demander à ce que le bloc soit centré avec auto */
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;
 
  

 
}


.populaire{

  padding: 10px;
  margin: 10px;
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;

}


.activité{
 
 	display: block;
 	margin: 10px;
 	padding: 10px;
    border-radius: 10px 10px 10px 10px ;
    background-color: lightpink;
 

}

.basdepage{

  padding: 10px; 
  margin-top: 10px;
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;

}

.basdepage div{

      display: inline-block; /* Aligne les div sur le coté*/
      padding:15px;
      text-align: justify;
      position: relative;
      background-color: #00B4CC;
}



details {
  display: block;
}

/* Barre de recherche*/


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  
  border: 2px solid #F2F2F2;
  padding: 7px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #00B4CC;
  background: #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 15px;

}

.searchposition {

  padding: 5px;
  border: 2px solid #F2F2F2;
  background: white;
  text-align: center;
  color: black;
  border-radius: 10px 2px 2px 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Menu*/
#navigation li {
  display: inline;
  padding: 15px;
  text-decoration: overline;
  float: right;
}

/* Filtre*/

.filtrebouton {

  margin: 20px;
  border: 10px;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  font-size: 15px;
  color :  black;
  font-weight: bold;
  border-radius: 30px 30px 30px 30px;
  padding-block: 10px;

}



/* The Picture Frame */
.gallery-frame {


  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px ;
  color: blue;
  box-shadow: 5px 10px 18px #aaa; 
}

/* The Images */
.imag {
	display: block;
  width: 250px ;
  height: 120px;
  
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.imag:hover {
  opacity: .7;
}

.contour{

	
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px ;
  color: blue;
  box-shadow: 5px 10px 18px #aaa; 

}

.popu {
  
  margin: 5px;
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px ;
  box-shadow: 5px 10px 18px #aaa; 
}

