body{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 120px;
  margin-right: 120px;
  color: black;
  background-color: white;
  font-family: "raleway" ;
  word-wrap: break-word;
}

/* Titre et police */

h2{
	font-family: "raleway";
	color: black;
 	font-size: 22px;
  font-weight: bold;
}

p{
  font-size: 19px;
}


.list {
  list-style: none;
  float:left;
  margin: auto;
}


/* Page principale */


/*Disposition */

.page{

  margin: 5px;
  

}

.row{

  display: flex;
}

.conteneur
{
    display: flex;
    flex-wrap: wrap; /* Retour à la ligne */
    justify-content: space-around;
    padding: 2px;
    margin: 10px;
}

.sec1{
	padding: 2px;
	margin: 10px;
	display: inline-block;

}


.herbergement {

  padding: 10px;
  float: left;
  text-align: justify;
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;

}


.populaire{

  float: left;
  padding: 10px;
  margin: 10px;
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;

}


.activité{
 
 	display: block;
 	margin: 10px;
 	padding: 10px;
    border-radius: 10px 10px 10px 10px ;
    background-color: lightpink;
 

}

.basdepage{

  padding: 10px; 
  margin-top: 10px;
  background-color: #F2F2F2;
  border-radius: 10px 10px 10px 10px ;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.basdepage div{

    padding: 10px;
    
    width: 30%;
    height: auto;
}



details {
    display: flex;
}

details .conteneur{
    justify-content: space-around;
    float: left;
    
}



/* Barre de recherche*/


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  
  border: 2px solid #F2F2F2;
  padding: 7px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #00B4CC;
  background: #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 15px;

}

.searchposition {

  padding: 5px;
  border: 2px solid #F2F2F2;
  background: white;
  text-align: center;
  color: black;
  border-radius: 10px 2px 2px 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Menu*/
#navigation li {
  display: inline;
  padding: 15px;
  float: right;
}

/* Filtre*/

.filtrebouton {

  margin: 20px;
  border: 10px;
  outline: none;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  font-size: 15px;
  color :  black;
 
  border-radius: 30px 30px 30px 30px;
  padding-left:  0px;
  padding-right: 20px;

}

.filtrebouton:hover{

  background-color: #005fcc;
  opacity: .7;
  font-weight: bold;
}

button i {
    background-color: #e6e6e6;
    color: #005fcc;
    border-radius: 50%;
    padding: 20px;

}


div p{
  margin: auto;
}

/* The Images */
.imag {
	display: block;
  width: 300px ;
  height: 120px;
  
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.imag:hover, .imagacti:hover {

  opacity: .7;
}
.contour:hover, .popu:hover {
 
  transform: scale(1.1); 
  cursor: pointer;
}
.contour{

	
  padding: .5rem;
  justify-content: space-around;
  font-size: 1.2rem;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px ;
  color: rgb(27, 27, 27);
  box-shadow: 5px 10px 18px #aaa; 

}

.popu {
  
  margin: 5px;
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  display: flex; /* met le texte a droite */
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px ;
  box-shadow: 5px 10px 18px #aaa; 
}

/* Etoiles evaluation */

.checked {
    color: #005fcc;
}

div span {
    color: rgb(202, 202, 202);
}